In [3]:
# Setup Time
import pandas as pd
from pathlib import Path
# Load all data

School_data_path = (r"C:\Users\Sezy\OneDrive\pandas_challenge\Starter_Code\PyCitySchools\Resources\schools_complete.csv")
Students_data_path = (r"C:\Users\Sezy\OneDrive\pandas_challenge\Starter_Code\PyCitySchools\Resources\students_complete.csv")

# read files
School_data = pd.read_csv(School_data_path)
Student_data = pd.read_csv(Students_data_path)

#

In [4]:
# Merge Time 
Complete_data = pd.merge(Student_data, School_data, how = "left", on=["school_name", "school_name" ])
Complete_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [64]:
# unique schools
school_count = Complete_data["school_name"].nunique()
school_count

15

In [12]:
# Counting all students
student_count = Complete_data["student_name"].count()
student_count

39170

In [36]:
# Total Budget
total_budget = Complete_data["budget"].unique().sum()
total_budget

24649428

In [29]:
# average math score
average_math_score = Complete_data["math_score"].mean()
average_math_score

78.98537145774827

In [38]:
# average reading score
average_reading_score = Complete_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [42]:
Passed_math_count = Complete_data[(Complete_data["math_score"] >= 70)].count()["student_name"]
Passed_math_percentage = Passed_math_count / float(student_count) *100
Passed_math_percentage

74.9808526933878

In [45]:
passed_reading_count = Complete_data[(Complete_data["reading_score"] >= 70)].count()["student_name"]
passed_reading_percentage = passed_reading_count/ float(student_count)*100
passed_reading_percentage

85.80546336482001

In [48]:
# overall passing rate
passed_math_reading_count = Complete_data[
    (Complete_data["math_score"] >= 70) & (Complete_data["reading_score"] >= 70)
    ].count()["student_name"]
Overall_passing_rate = passed_math_reading_count / float(student_count) *100
Overall_passing_rate

65.17232575950983

In [140]:
# direct summary
district_summary = pd.DataFrame()
district_summary["Total Schools"] = [school_count]
district_summary["Total Students"] = [student_count]
district_summary["Total Budget"] = [total_budget]
district_summary["Average Math Score"] = [average_math_score]
district_summary["Average Reading Score"] = [average_reading_score]
district_summary["% Passing Math"] = [Passed_math_percentage]
district_summary["% Passing Reading"] = [passed_reading_percentage]
district_summary["% Overall Passing"] = [Overall_passing_rate]
# format it up
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
# display

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [77]:
# School type per school
school_types = School_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [89]:
# students per school
per_school_counts = Complete_data.groupby("school_name")["student_name"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [128]:
# School Budegt per capita and per school
per_school_budget = Complete_data.groupby("school_name")["budget"].first()
per_school_capita = per_school_budget / per_school_counts
print(per_school_capita)
print(per_school_budget)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64
school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [122]:
# Average score for schools in each subject
per_school_math = Complete_data.groupby("school_name")["math_score"].mean()
per_school_reading = Complete_data.groupby("school_name")["reading_score"].mean()
print (per_school_math)
print(per_school_reading)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [127]:
# Math and reading students who passed
students_passing_math = Complete_data[(Complete_data["math_score"] >= 70)].groupby("school_name")["student_name"].count()
students_passing_reading = Complete_data[(Complete_data["reading_score"] >= 70)].groupby("school_name")["student_name"].count()
print(students_passing_math)
print(students_passing_reading)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64
school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [130]:
# passing math and reading
students_passing_math_and_reading = Complete_data[
    (Complete_data["reading_score"] >= 70) & (Complete_data["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [134]:
# Passing rates 
Per_school_math_passing = students_passing_math / per_school_counts * 100
Per_school_reading_passing = students_passing_reading / per_school_counts *100
overall_passing_rate_per_school = school_students_passing_math_and_reading / per_school_counts *100

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [151]:
Per_School_Summary = pd.DataFrame()
# data in dataframe
Per_School_Summary["School Type"] = school_types
Per_School_Summary["Total Students"] = per_school_counts
Per_School_Summary["Total School Budget"] = per_school_budget
Per_School_Summary["Per Student Budget"] = per_school_capita
Per_School_Summary["Average Math Score"] = per_school_math
Per_School_Summary["Average Reading Score"] = per_school_reading
Per_School_Summary["% Passing Math"] = Per_school_math_passing
Per_School_Summary["% Passing Reading"] = Per_school_reading_passing
Per_School_Summary["% Overall Passing"] = overall_passing_rate_per_school

# format eveyrthing
Per_School_Summary["Total School Budget"]  = Per_School_Summary["Total School Budget"].map("${:,.2f}".format)
Per_School_Summary["Per Student Budget"] = Per_School_Summary["Per Student Budget"].map("${:,.2f}".format)
# sorted data
Per_School_Summary.sort_index()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [155]:
# top schools
top_schools = Per_School_Summary.sort_values(by= "% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541