In [3]:
# Setup Time
import pandas as pd
from pathlib import Path
# Load all data

School_data_path = (r"C:\Users\Sezy\OneDrive\pandas_challenge\Starter_Code\PyCitySchools\Resources\schools_complete.csv")
Students_data_path = (r"C:\Users\Sezy\OneDrive\pandas_challenge\Starter_Code\PyCitySchools\Resources\students_complete.csv")

# read files
School_data = pd.read_csv(School_data_path)
Student_data = pd.read_csv(Students_data_path)

#

In [4]:
# Merge Time 
Complete_data = pd.merge(Student_data, School_data, how = "left", on=["school_name", "school_name" ])
Complete_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [64]:
# unique schools
school_count = Complete_data["school_name"].nunique()
school_count

15

In [12]:
# Counting all students
student_count = Complete_data["student_name"].count()
student_count

39170

In [36]:
# Total Budget
total_budget = Complete_data["budget"].unique().sum()
total_budget

24649428

In [29]:
# average math score
average_math_score = Complete_data["math_score"].mean()
average_math_score

78.98537145774827

In [38]:
# average reading score
average_reading_score = Complete_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [42]:
Passed_math_count = Complete_data[(Complete_data["math_score"] >= 70)].count()["student_name"]
Passed_math_percentage = Passed_math_count / float(student_count) *100
Passed_math_percentage

74.9808526933878

In [45]:
passed_reading_count = Complete_data[(Complete_data["reading_score"] >= 70)].count()["student_name"]
passed_reading_percentage = passed_reading_count/ float(student_count)*100
passed_reading_percentage

85.80546336482001

In [48]:
# overall passing rate
passed_math_reading_count = Complete_data[
    (Complete_data["math_score"] >= 70) & (Complete_data["reading_score"] >= 70)
    ].count()["student_name"]
Overall_passing_rate = passed_math_reading_count / float(student_count) *100
Overall_passing_rate

65.17232575950983

In [75]:
# direct summary
district_summary = pd.DataFrame()
district_summary["Total Schools"] = [school_count]
district_summary["Total Students"] = [student_count]
district_summary["Total Budget"] = [total_budget]
district_summary["Average Math Score"] = [average_math_score]
district_summary["Average Reading Score"] = [average_reading_score]
district_summary["% Passing Math"] = [Passed_math_percentage]
district_summary["% Passing Reading"] = [passed_reading_percentage]
district_summary["% Overall Passing"] = [Overall_passing_rate]
# format it up
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
# display

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326